In [1]:
# 匯入套件
from opendatatools import futures

In [2]:
# 叫出鐵礦石報價
df, msg = futures.get_kline('1d','I0')

In [5]:
df = df.iloc[:1879, :]
df

        datetime      open      high       low     close  volume
0     2013-10-18   978.000   984.000   962.000   977.000  300818
1     2013-10-21   976.000   977.000   960.000   969.000   95432
2     2013-10-22   963.000   966.000   948.000   948.000   91296
3     2013-10-23   949.000   953.000   936.000   939.000  116490
4     2013-10-24   938.000   939.000   916.000   926.000  169028
...          ...       ...       ...       ...       ...     ...
1874  2021-06-24  1179.000  1194.000  1141.000  1164.500  416019
1875  2021-06-25  1160.000  1190.000  1148.500  1185.000  374808
1876  2021-06-28  1190.000  1209.500  1157.500  1196.000  412401
1877  2021-06-29  1199.500  1200.500  1144.000  1153.000  399660
1878  2021-06-30  1150.000  1171.500  1135.000  1165.000  407096

[1879 rows x 6 columns]

In [6]:
# 存檔
df.to_csv('data/Futures_DalianIronOre.csv', index_label=False)
print('Done !')

Done !