In [1]:
# 匯入套件
import pandas as pd
import datetime
import time
import os

In [2]:
# 自訂 yahoo finance 爬蟲函式 
def crawl_yahoo_finance_usa(ticker, Y1, M1, D1, Y2, M2, D2):
    period1 = int(time.mktime(datetime.datetime(Y1,M1,D1,8,0).timetuple()))
    period2 = int(time.mktime(datetime.datetime(Y2,M2,D2,8,0).timetuple()))
    query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval=1d&events=history&includeAdjustedClose=true'
    return pd.read_csv(query_string)

In [3]:
# 要抓的股票 {'代碼':'名稱'}
stocks = {'%5ETWII':'WeightIndex'}

In [4]:
# 建立檔案存檔位置
if os.path.exists('data') is False:
    os.makedirs('data')

In [5]:
for tickno, tickname in stocks.items():
    
    # 爬取資料
    df = crawl_yahoo_finance_usa(tickno, 2010, 1, 1, 2021, 6, 30)
    
    # 存檔
    df.to_csv(f'data/Stock_TW_{tickname}.csv', index_label=False)
    print(f'{tickname} was crawled.')
    time.sleep(2)

WeightIndex was crawled.

In [6]:
df_WeightIndex = pd.read_csv('data/Stock_TW_WeightIndex.csv')
df_WeightIndex

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04,8222.419922,8240.450195,8143.450195,8207.849609,8207.817383,6429400.0
1,2010-01-05,8277.709961,8283.639648,8162.540039,8211.400391,8211.368164,6762000.0
2,2010-01-06,8237.099609,8327.870117,8216.919922,8327.620117,8327.587891,6421600.0
3,2010-01-07,8344.559570,8369.549805,8233.589844,8237.419922,8237.387695,7133000.0
4,2010-01-08,8266.870117,8290.660156,8178.930176,8280.900391,8280.868164,5764400.0
...,...,...,...,...,...,...,...
2815,2021-06-23,17127.589844,17375.789063,17127.589844,17336.710938,17336.710938,8083500.0
2816,2021-06-24,17358.570313,17439.630859,17319.890625,17407.960938,17407.960938,6453900.0
2817,2021-06-25,17471.070313,17597.330078,17471.070313,17502.990234,17502.990234,6766700.0
2818,2021-06-28,17531.820313,17595.509766,17481.230469,17590.970703,17590.970703,7091900.0
2819,2021-06-29,17621.150391,17713.240234,17541.140625,17598.189453,17598.189453,8437900.0